.hero{
    height: 100vh;
    background: linear-gradient(180deg, #F4C2D7 65.37%, #FCFCFC 95.22%);
    display: flex;

}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 120px;
    line-height: 1.1;
}
.hero-hand-icon p span {
    font-size: 60px;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: #662727;
    font-size: 70px;
    font-weight:bold;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 105px;

}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 210px;
    height: 50px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;

}
.hero-right img{
    padding-top: 20px;
    height: 450px;
    width: 450px;
}